<template>
  <div id="app" class="my-3 p-3 bg-body rounded shadow-sm">

    <div class="alert alert-success" role="alert" v-show="feedback">
      <p>{{ feedbackMessage }}</p>
    </div>

    <h6 class="border-bottom pb-2 mb-0">Cadastros</h6>

    <div v-if="persons.length">
      <person-component
        v-for="person in persons"
        v-bind="person"
        :key="person.id"
        @update="update"
        @delete="del"
      ></person-component>
    </div>

    <new-person-component
      v-show="nPerson"
      @save="newPerson"
      @cancel="cancelNewPerson"
    ></new-person-component>

    <div class="d-flex justify-content-between mt-3">
      <small class="text-end">
        <button type="button" class="btn btn-primary" @click="create">Adicionar</button>
      </small>
    </div>

    <div id="loading" v-show="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</template>

<style>
a {
  cursor: pointer;
}
#loading {
  position: fixed;
  display: block;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255,255,255,0.6);
}

.spinner-border {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}
</style>

<script>
  import PersonComponent from './PersonComponent.vue';
  import NewPersonComponent from './NewPersonComponent.vue';

  export default {
    data() {
      return {
        persons: {
          id: '',
          username: "",
          email: "",
          website: "",
          description: "",
          created_at: "",
          updated_at: "",
        },
        nPerson: false,
        loading: false,
        feedback: false,
        feedbackMessage: ''
      }
    },
    methods: {
      create() {
        this.nPerson = true;
      },
      cancelNewPerson() {
        this.nPerson = false;
      },
      async read() {
        window.axios.get('api/persons')
        .then( response => {
          this.persons = response.data.data;
          this.loading = false;
        });

      },
      async newPerson(infos) {
        this.loading = true;
        window.axios.post('api/persons', infos).then( response => {
          window.axios.get('api/persons')
          .then( response => {
            this.persons = response.data.data;
            this.loading = false;
            this.feedbackMessage = 'Usuário adicionado com sucesso.';
            this.feedback = true;
            setTimeout(() => this.feedback = false, 3000);
          });
        });
        this.nPerson = false;

      },
      async update(infos) {
        this.loading = true;
        await window.axios.put(`api/persons/${infos.id}`, infos);

        for ( let [cItem] of Object.entries( this.persons ) ) {
          if ( this.persons[cItem].id == infos.id ) {
            this.persons[cItem] = infos;
          }
        }
        this.$forceUpdate();
        this.feedbackMessage = 'Usuário atualizado com sucesso.';
        this.feedback = true;
        setTimeout(() => this.feedback = false, 3000);
        this.loading = false;
      },
      async del(id) {
        this.loading = true;
        await window.axios.delete(`api/persons/${id}`);
        let index = this.persons.findIndex( person => person.id === id);
        this.persons.splice(index, 1);
        this.feedbackMessage = 'Usuário deletado com sucesso.';
        this.feedback = true;
        setTimeout(() => this.feedback = false, 3000);
        this.loading = false;
      },
      forceRerender() {
        this.persons;
      }
    },
    components: {
      PersonComponent,
      NewPersonComponent
    },
    created() {
      this.loading = true;
      this.read();
    }
  }
</script>
