<template>

    <form
      @submit.prevent="save"
      class="add-person"
      ref="form"
    >
      <div class="container">

        <div class="alert alert-danger" role="alert" v-show="error">
          <p>{{ errorMessage }}</p>
        </div>

        <div class="row pt-3 pb-3">
          <div class="form-group col-1">
            <img class="flex-shrink-0 me-2 rounded" src="//via.placeholder.com/32x32.png?text=AO" width="32" height="32" />
          </div>
          <div class="form-group col-6">
            <input type="text" name="username" id="username" class="form-control" placeholder="Nome do usuário">
          </div>
          <div class="form-group col-5">
            <input type="text" name="email" id="email" class="form-control" placeholder="E-mail do usuário">
          </div>
        </div>

        <div class="row pb-3">
          <div class="form-group col">
            <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
          </div>
        </div>

        <div class="row pb-3">
          <div class="form-group col">
            <strong class="d-block text-gray-dark">Website: </strong><input type="text" name="website" id="website" class="form-control" placeholder="Website">
          </div>
        </div>

      </div>
      <div class="text-muted pt-1">
        <p class="small text-end">
          <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-save small"></i></button>
          <a class="btn btn-sm btn-danger" @click="cancelForm"><i class="bi bi-trash small"></i></a>
        </p>

      </div>
    </form>

</template>
<script>
  export default {
    data() {
      return {
        error: false,
        errorMessage: ''
      }
    },
    methods: {
      clearForm() {
        this.$refs['form'].reset();
      },
      save() {
        const formData = new FormData( this.$refs['form'] );
        const data = {};

        for ( let [key, val] of formData.entries() ) {
          if ( val == '' ) {
            this.errorMessage = 'Campo com erro. Verifique novamente';
            this.error = true;
            setTimeout(() => this.error = false, 3000);
            return false;
          }
          Object.assign(data, { [key]: val });
        }

        this.clearForm();
        this.$emit('save', data);
      },
      cancelForm() {
        this.clearForm();
        this.$emit('cancel');
      }
    }
  }
</script>
