<template>

  <div class="lh-sm border-bottom">

    <div class="view-person" v-show="!editing">
      <div class="d-flex text-muted pt-3">
        <img class="flex-shrink-0 me-2 rounded" src="//via.placeholder.com/32x32.png?text=AO" width="32" height="32" />

        <p class="pb-3 mb-0 small">
          <a @click="edit"><strong class="d-block text-gray-dark">{{ username }} &lt;{{ email }}&gt;</strong></a>
          {{ description }}
        </p>
      </div>

      <div class="text-muted pt-1">
        <p class="pb-3 mb-0 small"><strong class="text-gray-dark">Website: </strong><a :href="website">{{ website }}</a></p>
      </div>

      <div class="text-muted pt-1">
        <p class="small text-end">
          {{ created_at | formatDate }} |
          <button class="btn btn-sm btn-danger" @click="del"><i class="bi bi-trash small"></i></button>
        </p>

      </div>
    </div>


    <form
      @submit.prevent="update"
      class="edit-person"
      ref="form"
      v-show="editing"
    >
      <input type="hidden" name="id" id="id" :value="id">
      <input type="hidden" name="created_at" id="created_at" :value="created_at">
      <div class="container">

        <div class="alert alert-danger" role="alert" v-show="error">
          <p>{{ errorMessage }}</p>
        </div>

        <div class="row pt-3 pb-3">
          <div class="form-group col-1">
            <img class="flex-shrink-0 me-2 rounded" src="//via.placeholder.com/32x32.png?text=AO" width="32" height="32" />
          </div>
          <div class="form-group col-6">
            <input type="text" name="username" id="username" class="form-control" placeholder="Nome do usuário" :value="username">
          </div>
          <div class="form-group col-5">
            <input type="text" name="email" id="email" class="form-control" placeholder="E-mail do usuário" :value="email">
          </div>
        </div>

        <div class="row pb-3">
          <div class="form-group col">
            <textarea name="description" id="description" class="form-control" cols="30" rows="10" :value="description"></textarea>
          </div>
        </div>

        <div class="row pb-3">
          <div class="form-group col">
            <strong class="d-block text-gray-dark">Website: </strong><input type="text" name="website" id="website" class="form-control" placeholder="Website" :value="website">
          </div>
        </div>

      </div>
      <div class="text-muted pt-1">
        <p class="small text-end">
          <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-save small"></i></button>
          <button class="btn btn-sm btn-danger" @click="cancel"><i class="bi bi-trash small"></i></button>
        </p>

      </div>
    </form>

  </div>



</template>
<script>
  export default {
    data() {
      return {
        editing: false,
        error: false,
        errorMessage: ''
      }
    },
    methods: {
      edit() {
        this.editing = true;
      },
      cancel() {
        this.editing = false;
      },
      update() {
        this.error = false;
        const formData = new FormData( this.$refs['form'] );
        const data = {};

        for ( let [key, val] of formData.entries() ) {
          if ( val == '' ) {
            this.errorMessage = 'Campo com erro. Verifique novamente';
            this.error = true;
            setTimeout(() => this.error = false, 3000);
            return false;
          }

          Object.assign(data, { [key]: val });
        }

        this.$emit('update', data);
        this.editing = false;
      },
      del() {
        this.$emit('delete', this.id);
      }
    },
    props: ['id','username','email','website','description', 'created_at'],
  }
</script>
